<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" v-cloak>

        <div id="left">
            <button @click="addChat()">Add a chat</button>
            <div v-for="(chat, index) in chats" @click="changeChat(index)" >
                {{chat.Name}}
                <!-- <button @click="addMessage(index,'tester')">add message</button> -->
                <!-- {{selectedChat}} -->
            </div>
        </div>

        <div id="right">
            <div  v-for="message in selectedChatMessage" class="chatMessages">
                {{message}}
            </div>
            <button @click="addMessage('tester')" v-if="selectedChat>=0">add message</button>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>