<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" v-cloak>

        <div id="left">
            <input placeholder="Set username" v-model="username" >
            <div @click="addChat()" id="addChat">Add a chat</div>
            <div v-for="(chat, index) in chats" @click="changeChat(index)" class="conversation">
                {{chat.Name}}
                <!-- <button @click="addMessage(index,'tester')">add message</button> -->
                <!-- {{selectedChat}} -->
            </div>
        </div>

        <div id="right">
            <div>
                <div  v-for="(message,index) in selectedChatMessage" class="chatMessages">
                    <div class="messageSender" v-if="(index == 0) || (message.Sender!=selectedChatMessage[index-1].Sender)">{{message.Sender}}</div> 
                    <div class="messageMessage">{{message.Message}}</div>
                </div>
            </div>
            <div id="messageBar" v-if="selectedChat>=0">
                <input v-model="message" placeholder="Send a Message" v-on:keydown.enter="addMessage()">
                <div @click="addMessage()" >Send</div>

            </div>


        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>